@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900');
:root {
  --textOnLight: #fff;
  --textOnHover: #aaa;
  --bgLight: #666;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

.title {
  font-size: 2.5rem;
}

.title span {
  font-weight: 300;
  font-size: 0.9em;
  display: block;
}

.container {
  width: 95%;
  margin: 0, auto;
}

.shadow {
  box-shadow: 4px 4px 4px black;
  margin: auto;
}

header {
  --TextColor: #fff;
  --TextHover: #666;
  --Background: transparent;

  position: sticky;
  position: -webkit-sticky;
  top: 0;
  width: 100%;
  z-index: 1;
  padding: 1em;
  background-color: var(--Background);
}

.nav-scrolled {
  --TextColor: rgb(255, 255, 255);
  --TextHover: #666;
  --Background: #333;
}

nav ul {
  list-style: none;
}

nav li {
  display: inline-block;
  padding: 1rem, 1rem;
}

nav a {
  color: var(--TextColor);
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 4vw;
  padding: 0.5rem;
  transition: color 150ms ease-in-out;
  text-shadow: 3px 3px black;
}

nav a:hover,
nav a:focus {
  outline: none;
  color: var(--TextHover);
}

.home-hero {
  position: absolute;
  top: 0;
  background-image: url(../img/computer-hands-laptop-2115217.jpg);
  background-size: auto 100%;
  background-position: initial;
  background-repeat: no-repeat;
  color: var(--textOnLight);
  align-items: center;
  width: 100%;
  height: 100vh;
}

.home-hero .title {
  display: inline-block;
  position: relative;
  box-shadow: 3px 3px black;
  background-color: var(--textOnLight);
  color: black;
  mix-blend-mode: screen;
  align-self: center;
  border-color: var(--textOnLight);
  border-radius: 5px;
  font-size: 12vmin;
  margin: auto;
  margin-top: 30vh;
  padding: 0.15em 0.25em;
}

.bnt-home-hero {
  margin-top: 15vh;
}

.btn {
  display: inline-block;
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.5em 1.5em;
  border: 2px solid;
  color: var(--textOnLight);
  transition: all 150ms ease-in-out;
}

.btn-ghost {
  background-color: none;
  border-color: var(--textOnLight);
  font-weight: bolder;
  color: var(--textOnLight);
}

.btn:hover,
.btn:focus {
  color: var(--textOnHover);
  border: none;
}

.btn-ghost:hover,
.btn-ghost:focus {
  color: var(--Black);
  mix-blend-mode: screen;
  border: none;
  background-color: var(--textOnHover);
}
/* Media Queries */

@media screen and (min-width: 1000px) {
  nav a {
    font-size: 40px;
  }
}

@media (orientation: landscape) {
  .home-hero {
    background-size: 100% auto;
  }
}
