.btn {
  // display: inline-block;
  font-size: 4vw;
  z-index: 2;
  position: absolute;
  top: 65vh;
  left: 50%;
  transform: translate(-50%);
  text-decoration: none;
  border-radius: $borderRadius;
  text-transform: uppercase;
  padding: 0.5em 1.5em;
  border: 2px solid;
  color: $color;
  transition: background-color 250ms ease-in-out;
  transition: border 250ms ease-in-out;
}

@media screen and (min-width: 700px) {
  .btn {
    font-size: 2rem;
  }
}

.btn-ghost {
  background-color: none;
  border-color: $color;
  font-weight: bolder;
  color: $color;
}

.btn:hover,
.btn:focus {
  color: $textOnHover;
}

.btn-ghost:hover,
.btn-ghost:focus {
  color: black;
  mix-blend-mode: screen;
  border: none;
  background-color: $textOnHover;
}
