.card {
  border: none;
  flex: 1;
  background-color: ivory;
  border-radius: $borderRadius;
  box-shadow: $LightShadow;
  padding: 0.75rem;
  margin: 0.75rem;
  height: 100%;
  max-width: 600px;
  p {
    font-size: 20px;
    text-align: left;
    padding: 1rem;
  }

  .card-body {
    background-color: whitesmoke;
    border-radius: $borderRadius;
  }

  .card-head {
    padding: 0 0 0.5rem 0;
    width: 100%;
    height: max(300px);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: $borderRadius;
    margin-bottom: 5px;
    .card-title {
      padding-top: 0.5rem;
    }
  }
  P {
    line-height: 20px;
  }
  .hockey {
    background-image: url(../img/hockeyStuff.png);
  }
  .coffee {
    background-image: url(../img/HotCoffee.png);
  }
  .fishing {
    background-image: url(../img//fishing.jpg);
    background-size: cover;
    color: $TextColor;
    .card-body {
      background-color: none;
    }
  }

  .angular-icon {
    background-image: url(../img/angular-icon.svg);
  }

  .node-icon {
    background-image: url(../img/nodejs.png);
  }

  .nest-icon {
    background-image: url(../img/nestjs-logo.svg);
  }

  .card img {
    display: inline-block;
    max-height: 20vh;
    border-radius: $borderRadius;
  }
  .outer-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: none;
    .inner-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
      background-color: rgb(212, 212, 212);
      flex-direction: row;
      li {
        padding: 0.5em 1em;
        margin: 2px 0;
        font-weight: 500;
      }
    }
    li {
      padding: 0.5em 1em;
      display: inline-block;
      font-weight: 700;
    }
  }
}
