$textOnHover: #aaa;
$bgLight: rgb(231, 231, 231);
$borderRadius: 5px;
$LightShadow: 0 0 8px rgba(0, 0, 0, 0.308);
$TextHover: #666;
$TextColor: #fff;
$color: rgb(224, 222, 222);
$background: rgba(0, 0, 0, 0.5);
$hover: #eee;
