$textOnHover: #aaa;
$bgLight: rgb(231, 231, 231);
$borderRadius: 5px;
$LightShadow: 0 0 8px rgba(0, 0, 0, 0.308);
$TextHover: #666;
$TextColor: #fff;
$color: rgb(224, 222, 222);
$textOnBlue: #dddddd;
$background: rgba(0, 0, 0, 0.5);
$hover: #eee;
$nightSkyBlue: rgb(23, 23, 102);
$pageBG: rgb(38, 38, 146);
$headerHeight: 2.8em;
$shadowZ1: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
$textShadow: 2px 2px 1px rgb(19, 19, 83);
