// @import url("https://fonts.googleapis.com/css?family=Raleway:300,400,700,900");
// @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900');
@import './variables';
@import './card';
@import './scrollbar';
@import './buttons';
@import './avatar';
@import './arrow';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background-color: $pageBG;
  overflow-y: scroll;
  overflow-x: hidden;
  p {
    line-height: 1.9rem;
  }
  h1 {
    line-height: 0.9;
  }
}

.container {
  padding: 20px 0 20px 0;
  margin: auto;
}

img {
  max-width: 100%;
  height: auto;
}

.title {
  font-size: 2.5rem;
}

.title span {
  font-weight: 300;
  font-size: 0.9em;
  display: block;
}

.container {
  width: 95%;
  margin: 0, auto;
}

// .section-header {
//   color: $textOnBlue;
//   h1,
//   h2,
//   h3 {
//     color: inherit;
//   }
// }

.shadow {
  box-shadow: $shadowZ1;
  margin: auto;
}

ul {
  list-style: none;
}

header {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: 0;
  width: 100%;
  z-index: 1;
  height: $headerHeight;
  background-color: none;
  padding: 2.5rem;
  color: white;
  transition: background-color 250ms ease-in-out;

  :hover {
    color: $TextHover;
  }
}

nav {
  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  li {
    padding: 1em, 1em;
  }
  .github-logo {
    fill: inherit;
    height: 4vh;
    width: 4vh;
  }
  a {
    color: $color;
    fill: $color;
    font-weight: 900;
    text-decoration: none;
    font-size: 4vw;
    padding: 0.5rem;
    transition: color 150ms ease-in-out;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.555);
  }

  a:hover,
  a:focus {
    outline: none;
    color: $TextHover;
    fill: $TextHover;
  }
}
.nav-scrolled {
  nav a {
    color: whitesmoke;
  }
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.4);
  background-color: rgba(0, 0, 0, 0.637);
}

.home-hero {
  // z-index: -3;
  background: transparent;
  color: $color;
  align-items: center;
  width: 100%;
  height: 100vh;
  .title {
    display: inline-block;
    z-index: 2;
    position: relative;
    box-shadow: 3px 3px black;
    background-color: $color;
    color: black;
    mix-blend-mode: screen;
    align-self: center;
    border-color: $color;
    border-radius: 5px;
    font-size: 12vmin;
    margin: auto;
    margin-top: 55vh;
    padding: 0.15em 0.25em;
  }
  h1 {
    z-index: 2;
  }
}

.section-header {
  padding: 1rem 0 1rem 0;
  h1,
  h2,
  h3 {
    font-size: 56px;
    color: $textOnBlue;
    text-shadow: $textShadow;
  }
}

.about,
.projects {
  margin: auto;
  max-width: 1400px;
  color: black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.contact {
  display: flex;
  margin: 30px 0 20px 0;
  justify-content: center;
}

// *** Footer *** //

footer {
  height: 15vh;
  background: $bgLight;
}

/* Media Queries */
@media screen and (max-width: 800px) {
  .about,
  .projects {
    display: flex;
  }
}

@media screen and (min-width: 1000px) {
  nav a {
    font-size: 40px;
  }
}

@media only screen and (min-width: 1300px) {
  .about,
  .projects {
    flex-direction: row;
  }
  img {
    width: auto;
    height: auto;
    max-width: none;
  }
}
