@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900');
:root {
  --textOnLight: #fff;
  --textOnHover: #aaa;
  --bgLight: rgb(231, 231, 231);
  --borderRadius: 8px;
  --LightShadow: 0 0 8px rgba(0, 0, 0, 0.308);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  background-color: var(--bgLight);
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-points-y: repeat(100%);
}

img {
  max-width: 100%;
  height: auto;
}

.title {
  font-size: 2.5rem;
}

.title span {
  font-weight: 300;
  font-size: 0.9em;
  display: block;
}

.container {
  width: 95%;
  margin: 0, auto;
}

.shadow {
  box-shadow: 2px 2px 2px black;
  margin: auto;
}

header {
  --TextColor: #fff;
  --TextHover: #666;
  --Background: rgba(10, 10, 10, 0.2);

  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  top: 0;
  width: 100%;
  z-index: 1;
  height: 2.8em;
  background-color: var(--Background);
  transition: background-color 250ms ease-in-out;
  scroll-behavior: smooth;
}

.nav-scrolled {
  --TextColor: rgb(255, 255, 255);
  --TextHover: #666;
  --Background: rgba(12, 12, 12, 0.534);
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

nav li {
  padding: 1em, 1em;
}

nav a {
  color: var(--TextColor);
  font-weight: 900;
  text-decoration: none;
  font-size: 4vw;
  padding: 0.5rem;
  transition: color 150ms ease-in-out;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.555);
}

nav a:hover,
nav a:focus {
  outline: none;
  color: var(--TextHover);
}

section.home-hero {
  background-image: url(../img/computer-hands-laptop-2115217.jpg);
  background-size: cover;
  background-position: initial;
  background-repeat: no-repeat;
  color: var(--textOnLight);
  align-items: center;
  width: 100%;
  height: 100vh;
}

section.home-hero .title {
  display: inline-block;
  position: relative;
  box-shadow: 3px 3px black;
  background-color: var(--textOnLight);
  color: black;
  mix-blend-mode: screen;
  align-self: center;
  border-color: var(--textOnLight);
  border-radius: 5px;
  font-size: 12vmin;
  margin: auto;
  margin-top: 30vh;
  padding: 0.15em 0.25em;
}

.section-header {
  padding: 1rem 0 1rem 0;
}

.section-header h1 {
  font-size: 56px;
  color: rgb(36, 36, 36);
}

section.about {
  --color: rgb(71, 71, 71);
  --background: rgb(255, 255, 255);
  --hover: #eee;

  color: var(--color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.card {
  border: none;
  flex: 1;
  background-color: ivory;
  border-radius: var(--borderRadius);
  box-shadow: var(--LightShadow);
  padding: 0.75rem;
  margin: 0.75rem;
  height: 100%;
  max-width: 600px;
}
.card p {
  font-size: 14px;
  text-align: center;
  padding: 0.5rem 0 0 0;
}

.card-head {
  padding: 0 0 0.5rem 0;
}

.card img {
  display: inline-block;
  max-height: 20vh;
  border-radius: var(--borderRadius);
}

/* Button Layouts */
.bnt-home-hero {
  margin-top: 15vh;
}

.btn {
  display: inline-block;
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.5em 1.5em;
  border: 2px solid;
  color: var(--textOnLight);
  transition: all 250ms ease-in-out;
}

.btn-ghost {
  background-color: none;
  border-color: var(--textOnLight);
  font-weight: bolder;
  color: var(--textOnLight);
}

.btn:hover,
.btn:focus {
  color: var(--textOnHover);
  border: none;
}

.btn-ghost:hover,
.btn-ghost:focus {
  color: black;
  mix-blend-mode: screen;
  border: none;
  background-color: var(--textOnHover);
}

/* Media Queries */

@media screen and (min-width: 1000px) {
  nav a {
    font-size: 40px;
  }
}

@media only screen and (min-width: 1300px) {
  section.about {
    flex-direction: row;
  }
  img {
    width: auto;
    height: auto;
    max-width: none;
  }
}
